*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html{
    font-size: 10px;
    background-color: #F4F5F5;
}
.navigationbar_wrap{
    width: 100%;
    background-color: #fff;
}
/* 上部导航条 */
.navigationbar_cotent{
    width: 100%;
    height: 6rem;
    /* background-color: #bfa; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25rem;
    box-sizing: border-box;
    border-bottom: 0.1rem solid #F1F1F1;

}
.navigationbar_list{
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
}
.navigationbar_list .item_logo{
    display: block;
    width: 10rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item_logo img{
    width: 100%;
}
.navigationbar_list .item{
    height: 100%;
    line-height: 6rem;
    /* background-color: #bfa; */
    display: block;
    color:#515767 ;
    font-size: 1.5rem;
    margin-left: 2.5rem;
    position: relative;
    white-space: nowrap;
}
.navigationbar_list .item_active{
    color: #1E80FF;
}
.navigationbar_list .item_animation::after{
    content: '';
    width: 3rem;
    height: 0.1rem;
    background-color: #1E80FF;
    position: absolute; 
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.navigationbar_other{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: #ff6799; */
}
.other_list{
    white-space: nowrap;
}
.searchbar_wrap{
    width: 36rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
    border: 0.1rem solid #d8d6d6;
    display: flex;
    margin-right: 2.5rem;
}
#searchbar{
    flex: 1;
    border: none;
    padding-left: 1rem;
    color: #515767;
    box-sizing: border-box;
}
#searchbtn{
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F3F5;
    color: #515767;
}
.creatorbtn_wrap{
    width: 12rem;
    height: 3.5rem;
    border-radius: 0.3rem;
    background-color: #1E80FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 1.4rem;
    margin-right: 2rem;
}
.creatorbtn{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(255, 255, 255,0.1);
    /* background-color: #ff6700; */
}
.creatorbtn:hover{
    background-color: #1F6BF4;
}
.creatortip_down_wrap{
    width: 20%;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.creatortip_down{
   border-top: 0.5rem solid #fff;
   border-left: 0.5rem solid transparent;
   border-right: 0.5rem solid transparent;
}
.creatortip_up{
    display: none;
   border-bottom: 0.5rem solid #fff;
   border-left: 0.5rem solid transparent;
   border-right: 0.5rem solid transparent;
}
.creatortip_down_wrap:hover{
    background-color: #1F6BF4;
}
.status_wrap{
    width: 6rem;
    height: 3.5rem;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
}
.status_logo{
    width:2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.status_logo img{
    width: 100%;
    height: 100%;
}
.status_text{
    font-size: 1.4rem;
    color: #515767;
}
.login{
    width: 6.5rem;
    height: 3.5rem;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.12rem solid #B3D5FF;
    background-color: #F4F9FF;
    color: #1E80FF;
    font-size: 1.4rem;
}

/* 下部导航条 */
.navigationlist_content{
    width: 100%;
    height: 4.8rem;
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding-left: 50rem;
    box-sizing: border-box;
}
.list{
    height: 100%;
    background-color: #fff;
    display: block;
    margin-right: 2rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #515767;
    white-space: nowrap;
}
.list_active{
    color: #1E80FF;
}
.list:hover{
    color: #1E80FF;
}